.weather-widget {
    width: 300px;
    margin: auto;
}

.accordion-item {
    border: 1px solid #000000;
}

.accordion-item-title {
    cursor: pointer;
    font-weight: bold;
}

.hour-title {
    margin-right: 20px;
}

.hour {
    display: flex;
    align-items: center;
}